* {
    font-family: 'Raleway', sans-serif;
    color: #565D64;
    background-image: none;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    color: #FFFFFF;
    font-size: 175%;
}

h3 {
    color: #76797A;
    margin: 0;
}

p {
    color: #FFFFFF;
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 100%;
    position: fixed;
    background-color: rgba(214, 214, 214, 0.89);
    overflow: hidden;
    z-index: 2;
}

div {
    width: auto;
    display: block;
}

div.channel {
    display: inline-block;
    font-size: 200%;
    padding: 2vh;
    text-align: center;
}

img {
    box-sizing: content-box;
    background-color: white;
    border: 2vh solid white;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    display: block;
}

img.qr {
    border-radius: 0;
}

span {
    font-family: monospace;
    font-size: 270%;
    color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    font-size: 4vh;
    padding: 2vh;
    display: inline-block;
    width: auto;
    height: 8vh;
}
  
a {
    text-decoration: none;
    margin-bottom: auto;
}

i {
    color: rgba(219, 219, 219, 1);
    opacity: 0.6;
}

iframe {
    width: 100%;
    height: 60vh;
    border: 0;
    display: none;
    margin: auto;
}

form {
    width: 85%;
    margin: auto;
}

input,
textarea,
label {
    float: left;
    clear: both;
}

table {
    width: 100%
}

/* CLASSES */
.error {
    color: #9C0000;
}

.titlecontent {
    display: block;
    grid-auto-flow: column;
    padding: 20px;
}

.inmenu {
    border: 0;
    border-radius: 0;
    background: none;
    height: auto;
    width: auto;
    margin: -2vh;
}
.scrd {
    margin-top: auto;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
    display: none;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;

}

.dota {
    background-image: url("/assets/dota.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.wl {
    width: 30%;
    display: inline-block;
}

.stats {
    width: 45%;
    justify-content: space-around;
    display: inline-block;
}

.outcome {
    grid-column: 3;
    grid-row: 2;
    font-size: 200%;
}

.as {
    grid-column: 4;
    grid-row: 2;
}

.red {
    color: #B90101;
}

.green {
    color: #008800;
}
/* IDS */

#background {
    background-image: url("/assets/backgroundmedium.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}


#home {
    height: 75vh;
    font-size: 250%;
    text-align: center;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
}

#me {
    width: 200px;
    height: 200px;
    border: 0;
    display: inline-block;
}

#titlearea {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33% 34% 33%;
    padding: 5%;
}
#vaccounter {
    float: right;
    background-image: url("/assets/steam.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#vaccounter p {
    vertical-align: middle;
}

#socialspacer {
    padding-top: 8vh;
    font-size: 250%;
    width: 100%;
    display: block;
    text-align: center;
}

#socialmedia {
    margin: auto;
    padding: 4vh 1vh;
    height: auto;
    min-height: 100vh;
    width: 90%;
    background-color: rgba(214, 214, 214, 0.89);
    border-radius: 1vh;
    text-align: center;
}

#whatsappC {
    display: none;
    width: 85%;
}

#dota {
    background-color: rgba(33, 37, 41, 0.8);
    width: 70%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
}

#glob {
    grid-column:  1 / span 2;

}

#last {
    grid-column: 3 / span 4;
    grid-row: 1;

}

#statsmmr {
    grid-column: 1 / span 2;
}

#wins {
    grid-column: 1;
    grid-row: 3 / span;
}

#losses {
    grid-column: 2;
    grid-row: 3 / span;
}

#wl {
    grid-column: 1 / span 2;
}

#kda {
    grid-column: 3 / span 4;
    grid-row: 3;
    display: flex;
    justify-content: space-around;
}




/* MEDIA */
@media screen and (min-width: 1548px) {
    #background {
        background-image: url("/assets/backgroundlarge.jpg");
    }
}

@media screen and (orientation: portrait) {
    #background {
        background-image: url("/assets/backgroundportrait.jpg");
    }
    img {
        box-sizing: content-box;
        background-color: white;
        border: 2vw solid white;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        display: block;
    }
    div.channel {
        font-size: 4vw;
    }
    li {
        font-size: 6vw;
    }
}